body{

background-image: url(container/image1.jpg);

background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 0%;
background-attachment: fixed;
}

.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  backdrop-filter: blur(10px);
  width: 100%;
  padding: 10px 0px;
}

.clock {

    font-size: 4em;
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    font-family: monospace;

}